body{
      font-family: Arial, sans-serif;
    font-family: Roboto, sans-serif;
    font-weight: Regular;
}
.background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
    background-image: url('images/interior-moderno-com-pinturas-e-plantas-domesticas-no-saguao-do-escritorio-vazio_124507-73130.avif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  
}

.navbar {
    background-color: #f1f1f1;
    height: 100vh;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .navbar a {
    display: block;
    color: #ffffff;
    padding: 16px;
    text-decoration: none;
    font-size: 22px;
    transition: background-color 0.3s, color 0.3s, font-size 0.3s;
  
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: #555;
    font-size: 24px;
  }
  
  .navbar a.active {
    background-color: #555;}

    .navbar a.active:hover {
        background-color: #656565;
        color: #e0e0e0;
        }
.login-box{
    border-radius: 20px;
    width: 35%;
    height: 430px;
    background: rgb(243, 243, 243);
    color: #2b2b2b;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    font-size: 20px;
    animation: animacaLogin 1s ease-in-out ;
    
    
}
@keyframes animacaLogin{
    0%{
        transform: translate(80%, -50%);
    }
   
    100%{
        transform: translate(-50%, -50%);
    }
}

.login-box button{
    border-radius: 50px;
    width: 60%;
    border: 0;
    background: rgba(74,179,255,1);
    color: white;
    padding: 10px;
    position: absolute;
    left: 20%;

}
.login-box button:active{
    background: rgba(8,151,255,1);
    box-shadow: 0 2px rgb(33, 147, 230);
    transform: translateY(1px);
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid rgb(74,179,255);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}



.register-box{
    border-radius: 50px;
    width: 320px;
    height: 525px;
    background: rgb(243, 243, 243);
    color: #2b2b2b;
    top: 57%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;

}
.register-box input{
    width: 100%;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid rgb(74,179,255);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.register-box button{
    border-radius: 50px;
    width: 60%;
    border: 0;
    background: rgba(74,179,255,1);
    color: white;
    padding: 10px;
    position: absolute;
    left: 20%;

}

.register-box button:active{
    background: rgba(8,151,255,1);
    box-shadow: 0 2px rgb(33, 147, 230);
    transform: translateY(1px);
}

.register-box select{
    width: 100%;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid rgb(74,179,255);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.bolaperf{
    background: rgba(74,179,255,1);
    opacity: 1;
    position: absolute;
   display: none;
    border-radius: 10px;
    overflow: hidden;
    width: 110px;
    height: 110px;
  
}

.fperfil {
    width: 54px;
    height: 59px;
    background: url("images/perfil.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 30px;
    
    overflow: hidden;
}
.center {
    
  position: absolute;
  top: 22%;
  justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 13%;
  }


.guideme{/*tenha uma caixa de fundo com 0.8 de opacidade, tem de estar no meio e ter as bordas redondas*/
    background-color: rgba(242, 242, 242, 0.839);
    border-radius: 50px;
   
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -2%);
    padding: 15px;
    width: 400px;
    height: 140px;
    font-size: 30px;
    text-align: center;
    animation: cima 1s ease-in-out ;
}
@keyframes cima{
    0%{
        transform: translate(-50%, -120%);
    }
    
    100%{
        transform: translate(-50%, -0%);
    }
}
    
}

.h1{
    font-size: 300px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    padding: 0;
}

a {
    color: rgb(255, 255, 255);    /* herda a cor do elemento pai */
    text-decoration: none;    /* remove o sublinhado */
}
a:hover {
    color: inherit;
    text-decoration: none;
}
a:visited {
    color: inherit;
}


.serviços-box{
    border-radius: 50px;
    width: 320px;
    height: 420px;
    background: rgb(243, 243, 243);
    color: #2b2b2b;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    
}

.serviços-box button{
    border-radius: 50px;
    width: 60%;
    border: 0;
    background: rgba(74,179,255,1);
    color: white;
    padding: 10px;
    left: 20%;

}

.serviços-box button:active{
    background: rgba(8,151,255,1);
    box-shadow: 0 2px rgb(33, 147, 230);
    transform: translateY(1px);
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    
}
.button {
    display: block;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
    border: none;
    background-color: rgb(33, 147, 230);
    color: white;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(74,179,255);
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.serviços-box-placeholder{
    border-radius: 50px;
    width: 800px;
    height: 420px;
    background: rgb(243, 243, 243);
    color: #2b2b2b;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;

    
}

.serviços-button{
    border-radius: 50px;
    width: 400px;
    height: 150px;
    border: 0;
    background: rgb(32, 145, 226);
    background-image: url(images/pintorfundo.jpg);
    background-size: cover;
    background-position: center;
    top: 80%;
    
    color: white;
    padding: 10px;
    margin: 8px;
    font-size: 20px;
}

.serviços-button:hover{
    background: rgb(74,179,255);
    box-shadow: 0 2px rgb(33, 147, 230);
    transform: translateY(1px);
    background-image: url(images/pintorfundo.jpg);
    background-size: cover;
    background-position: center;
}

.serviços-button:active{
    background: rgb(8,151,255);
    box-shadow: 0 2px rgb(33, 147, 230);
    transform: translateY(1px);
}
