<!DOCTYPE html>
<html>
<head>
    <title>GuideMeUp</title>
    <link href="../css/main.css" rel="stylesheet" />
    <link href="../js/main.js" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
    <div class="background-layer" style="opacity: 80%;"></div>
    
    <div class="guideme" > 
        <h1 style="font-family: Lato, sans-serif;">GuideMeUp</h1>
    </div>

    </div>
    <div class="login-container">
        <div class="login-box">
            <h2 style="text-align: center;">Login</h2>
            <input type="text" placeholder="Username" id="user" >
            <input type="password" placeholder="Password"id="password">
            <button id="login-btn" onclick="Login(); return false">Entrar</button>
            <p style="text-align: center;"><br><br>Não tem conta? <a href="regist.html" style="color:blue">Crie uma!</a></p>    
            
        </div>
    </div>
    <script>

        function Login(){
            var user = document.getElementById('user').value;
            var password = document.getElementById('password').value;

            if(user == "admin" && password == "admin" ){
                alert("Login realizado com sucesso!");
                 
                location.href="serviços.html";
            } else{
                alert("Login falhou!");

            }

        }

        


    </script>
    <div class="center">
        <div class="bolaperf"></div>
        <div class="fperfil"></div>        
    </div>
    

    
</body>
</html>