<!DOCTYPE html>
<html>
<head>
    <title>GuideMeUp - Catálogo</title>
    <link href="../css/main.css" rel="stylesheet" />
    <script src="../css/js/main.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <style>

        body{
            background: linear-gradient(to top left, #999966 0%, #ffffff 100%);            
            background-size:contain;
            background-repeat:no-repeat;
            background-position:center;
            background-blend-mode:multiply;
        }  

        form{
            margin: 0 auto;
            top: 20% auto;
            width: 1000px;
            padding: 1em;
            text-align: center;
            border-radius: 50px;
            background-color: rgb(238, 238, 238);
        }
        .item {
            display: inline-block;
            width: 25%;
            margin: 15px;
            margin-top: 20px;
            padding: 10px;
            border: 2px solid #292929;
            border-radius: 20px;
            text-align: center;
            font-size: 20px;
            transition-duration: 0.4s;
        }

        .item h3 {
            font-size: 22px;
            margin-bottom: 5px;
        }
        .item img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .item:hover{
            background-color: rgb(181, 181, 181);
            box-shadow: 0 2px rgb(109, 109, 109);
            transform: translateY(1%);
            
        }
        .iBut{
            background-color: #555;
            color: #fff;
            border: none;
            border-radius: 10px;
            padding: 5px;
            font-size: 15px;
            cursor: pointer;
            margin-left: 5%;
            margin-right: 5%;
            
            transition-duration: 0.4s;
        }
        .iBut:hover{
            background-color: #000;
        }

        .carrinho{
            top: 15px;
            right: 0;
            position: absolute;
            margin-right: 20px;
            margin-top: 20px;
            background-image: url("../css/images/carrinho1.png");
            background-size: 50px;
            background-repeat: no-repeat;
            width: 3%;
            height: 5%;
            border: none;
            background-color: transparent;
            
        }
        .carrinho:hover{            
            transform: translate(-3%,-3%);
            background-size: 55px;
           
        }

        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

::selection{
    color: #fff;
}

    </style> 
  

</head>
<body>
    
    <div class="background-layer" style="background-image: none;background: linear-gradient(to top left, #999966 0%, #ffffff 100%);height: max-content;  " ></div>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <span class="text2">GMU</span>
                </span>

                <div class="text logo-text">
                    
                    <span class="name" style="font-size: 28px; margin-left: -23%;margin-top: 8%;">GuideMeUp</span>
                    <span class="profession" style = "margin-left: -23%;">Serviços domésticos</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box" style="height: 0px;"></li> <!--nao apagar-->

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{{url_for('.index')}}">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Inicio</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{{url_for('.serviços')}}">
                            <i class='bx bx-list-ul icon' ></i>
                            <span class="text nav-text">Serviços</span>
                        </a>
                    </li>


                    <li class="nav-link">
                        <a href="{{url_for('.catalogo')}}">
                            <i class='bx bx-grid-alt icon' ></i>
                            <span class="text nav-text">Catálogo</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{{url_for('.pagamento')}}">
                            <i class='bx bx-cart icon' ></i>
                            <span class="text nav-text">Carrinho</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{url_for('.account')}}">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Conta</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{url_for('.sobre')}}">
                            <i class='bx bx-info-circle icon' ></i>
                            <span class="text nav-text">Sobre</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>

    </nav>

    <form action="{{url_for('catalogo_post')}}" method="post" style=" background-color: rgb(255, 255, 255)">
        <input style="font-size: 0;position: fixed;" type="submit" class="carrinho" name="carrinho" placeholder=" a"/>
           <h1>Items no catálogo</h1>
            <hr>
            <br>
            <h2 >Pintura</h2>
            <div class="item">
                
                <br>
                <img src="../css/images/TintaBrug.png"  >
                <div style="left: 50%;"> 
                    <h3> Tinta Acrilica</h3>
                    <h5>(Tinta mate exterior BRANCO 5L)</h5>
                    <p id="Tinta13"> {{tintaAcril}}€</p>
                    <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="tintaAcril" class="iBut">
                    
                </div>
            </div>
            <div class="item">
                
                <br>
                <img src="../css/images/Tinta.png"  >
                <div style="left: 50%;"> 
                 <h3> Tinta Acrilica</h3>   
                    <h5>(Tinta mate exterior BRANCO 4L)</h5>
                    
                    <p id="Tinta11">{{tinta}}€</p>
                    <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="tinta" class="iBut">

                </div>
            </div>
            <div class="item" >
                
                <br>
                <img src="../css/images/Pincel.png"  >
                <div style="left: 50%;"> 
                    <h3> Pincel</h3>
                    <h5>(Pincel  UNIVERSAL PP 60MM)</h5>
                    
                       <p id="Pincel5">{{pincel}}€</p> 
                       <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="pincel" class="iBut">

                </div>
            </div>
            
            <div class="item" >
                 
                 <br>
                <img src="../css/images/Rolo.png"  >
                <div style="left: 50%;"> 
                    <h3> Rolo</h3>
                    <h5>(Rolo Antigota Poliamida)</h5>
                    
                        <p id="Rolo7">{{rolo}}€</p>
                        <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="rolo" class="iBut">

                </div>
            </div>
            <div class="item" >
                
                <br>
               <img src="../css/images/Tinta_exterior_interior.png"  >
               <div style="left: 50%;"> 
                <h3> Tinta Ext. e Int.</h3>
                   <h5>(Tinta 5L, branco)</h5>
                  
                   <p id="Tinta25">{{tintaExtInt}}€</p>
                   <br>
                   <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="tintaExtInt" class="iBut">

               </div>
           </div>
           <br>
           <br>
            <hr>

            <br>
            <br>
            <h2 style="margin-left: 5%;">Limpeza</h2>
            <br>
            <div class="item">
                
                <br>
                <img src="https://media.discordapp.net/attachments/1075358829186908230/1112826703987879966/luvasdeborracha-removebg-preview.png?width=606&height=642"  >
                <div style="left: 50%;"> 
                    <h3> Luvas de Borracha</h3>
                    <h5>(Tinta mate exterior BRANCO 5L)</h5>
                    <p id="LuvasBorracha"> {{luvas}}€</p>
                    <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="tintaAcril" class="iBut">
                    
                </div>
            </div>
            <div class="item">
                
                <br>
                <img src="https://cdn.discordapp.com/attachments/1075358829186908230/1112826704952561784/esfregona-removebg-preview.png"  >
                <div style="left: 50%;"> 
                 <h3> Esfregona</h3>   
                    <h5>(Esfregona natural cinzenta)</h5>
                    
                    <p id="EsfregaEsfregaDeejayTelio">{{esfrega}}€</p>
                    <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="tinta" class="iBut">

                </div>
            </div>
            <div class="item" >
                
                <br>
                <img src="https://media.discordapp.net/attachments/1075358829186908230/1112826704487006319/minipreco-removebg-preview.png?width=625&height=625"  >
                <div style="left: 50%;"> 
                    <h3> Lixivia</h3>
                    <h5>(Lixivia limpa casa tradicional  2L)</h5>
                    
                       <p id="Lixivia">{{lixi}}€</p> 
                       <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="pincel" class="iBut">

                </div>
            </div>
            
            <div class="item">
                 
                 <br>
                <img src="https://cdn.discordapp.com/attachments/1075358829186908230/1112826704721883177/rodo-removebg-preview.png"  >
                <div style="left: 50%;"> 
                    <h3> Rodo</h3>
                    <h5>(Rodo 40cm com cabo 120-200cm)</h5>
                    
                        <p id="Rodo">{{rodo}}€</p><!--19,90-->
                        <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="rolo" class="iBut">

                </div>
            </div>
            <div class="item" >
                
                <br>
               <img src="https://media.discordapp.net/attachments/1075358829186908230/1112826809516568728/vassoura-removebg-preview.png?width=625&height=625"  >
               <div style="left: 50%;"> 
                <h3> Vassoura</h3>
                   <h5>(Vassoura com cabo 120cm)</h5>
                  
                   <p id="Vassoura">{{vass}}€</p>
                   <br>
                   <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="tintaExtInt" class="iBut">

               </div>
           </div>
           <br>
           <br>
            <hr>

            <br>
            <br>
            <h2 >Canalização</h2> <!-- -->
            <br>
            
          
            <div class="item">
                
                <br>
                <img src="https://cdn.discordapp.com/attachments/1075358829186908230/1112833243453075526/chavedefendas-removebg-preview_1.png"  >
                <div style="left: 50%;"> 
                    <h3> Chave de fendas</h3>
                    <h5>(Chave de fendas 15mm)</h5>
                    <p id="ChaveFendas"> {{fendas}}€</p>
                    <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="tintaAcril" class="iBut">
                    
                </div>
            </div>
            <div class="item">
                
                <br>
                <img src="https://cdn.discordapp.com/attachments/1075358829186908230/1112829647802073159/chavederoquete-removebg-preview.png"  >
                <div style="left: 50%;"> 
                 <h3> Chave de roquete</h3>   
                    <h5>(Chave de roquete)</h5>
                    
                    <p id="Roquete">{{roquete}}€</p>
                    <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="tinta" class="iBut">

                </div>
            </div>
            <div class="item" >
                
                <br>
                <img src="https://cdn.discordapp.com/attachments/1075358829186908230/1112829648624156702/desintupidor-removebg-preview.png"  >
                <div style="left: 50%;"> 
                    <h3> Desentupidor</h3>
                    <h5>(Desentupidor natural)</h5>
                    
                       <p id="DesentopeIstoTiago">{{desen}}€</p> 
                       <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="pincel" class="iBut">

                </div>
            </div>
            
            <div class="item">
                 
                 <br>
                <img src="https://cdn.discordapp.com/attachments/1075358829186908230/1112829648884220004/chavedecanos-removebg-preview.png"  >
                <div style="left: 50%;"> 
                    <h3>Chave de canalizador</h3>
                    <h5>(Chave para concertar canos)</h5>
                    
                        <p id="ChaveCanaliz">{{rodo}}€</p><!--19,90-->
                        <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="rolo" class="iBut">

                </div>
            </div>
            <div class="item" >
                
                <br>
               <img src="https://cdn.discordapp.com/attachments/1075358829186908230/1112829648330559530/cintodeferramentas-removebg-preview.png"  >
               <div style="left: 50%;"> 
                <h3>Cinto de ferramentas</h3>
                   <h5>(Cinto versátil e estiloso, para qualquer ferramenta)</h5>
                  
                   <p id="Belt">{{cinto}}€</p>
                   <br>
                   <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="tintaExtInt" class="iBut">

               </div>
           </div>
           <br>
           <br>
            <hr>
            <br>
            <br>
            <h2 >Carpintaria</h2> <!--   -->
            <br>
            <div class="item">
                
                <br>
                <img src="https://cdn.discordapp.com/attachments/1075358829186908230/1112836142627303464/tabuademadeiratratada-removebg-preview.png"  >
                <div style="left: 50%;"> 
                    <h3>Tabuas de madeira</h3>
                    <h5>(Tabua madeira balsa)</h5>
                    <p id="MADEIRA"> {{tabua}}€</p>
                    <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="tintaAcril" class="iBut">
                    
                </div>
            </div>
            <div class="item">
                
                <br>
                <img src="https://cdn.discordapp.com/attachments/1075358829186908230/1112836142035894313/serracirculareletrica-removebg-preview.png"  >
                <div style="left: 50%;"> 
                 <h3>Serra elétrica</h3>   
                    <h5>(Serra elétrica de 3000W)</h5>
                    
                    <p id="Serra">{{serra}}€</p>
                    <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="tinta" class="iBut">

                </div>
            </div>
            <div class="item" >
                
                <br>
                <img src="https://cdn.discordapp.com/attachments/1075358829186908230/1112836142316929024/lixaparamadeira-removebg-preview.png"  >
                <div style="left: 50%;"> 
                    <h3>Lixa para madeira</h3>
                    <h5>(Folha de lixa FLUX)</h5>
                    
                       <p id="LixaIsto">{{lixa}}€</p> 
                       <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="pincel" class="iBut">

                </div>
            </div>
            
            <div class="item">
                 
                 <br>
                <img src="https://cdn.discordapp.com/attachments/1075358829186908230/1112836141801025668/martelo-removebg-preview.png"  >
                <div style="left: 50%;"> 
                    <h3>Martelo</h3>
                    <h5>(Martelo de orelhas 3dm)</h5>
                    
                        <p id="Martelo">{{martelo}}€</p><!--19,90-->
                        <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="rolo" class="iBut">

                </div>
            </div>
            <div class="item" >
                
                <br>
               <img src="https://cdn.discordapp.com/attachments/1075358829186908230/1112836141532594347/nivel-removebg-preview.png"  >
               <div style="left: 50%;"> 
                <h3>Nível</h3>
                   <h5>(Nível de 30/50/100cm)</h5>
                  
                   <p id="Nivel">{{nivel}}€</p>
                   <br>
                   <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="tintaExtInt" class="iBut">

               </div>
           </div>
           <br>
           <br>
           <hr>
           <br>
           <br>
           <h2 >Eletricidade</h2> <!---->
           <br>
           <div class="item">
               
               <br>
               <img src="https://cdn.discordapp.com/attachments/1075358829186908230/1112839841290399924/caboseletricos-removebg-preview.png"  >
               <div style="left: 50%;"> 
                   <h3>Cabos e fios elétricos</h3>
                   <h5>(Cabos elétricos 25m)</h5>
                   <p id="Tinta13"> {{cabos}}€</p>
                   <br>
                   <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="tintaAcril" class="iBut">
                   
               </div>
           </div>
           <div class="item">
               
               <br>
               <img src="https://cdn.discordapp.com/attachments/1075358829186908230/1112839841013571714/caixa-de-ferramentas-removebg-preview.png"  >
               <div style="left: 50%;"> 
                <h3>Kit de ferramentas</h3>   
                   <h5>(Kit universal com mais de 15 ferramentas)</h5>
                   
                   <p id="Tinta11">{{kit}}€</p>
                   <br>
                   <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="tinta" class="iBut">

               </div>
           </div>
           <div class="item" >
               
               <br>
               <img src="https://cdn.discordapp.com/attachments/1075358829186908230/1112839840766103603/extensao-removebg-preview.png"  >
               <div style="left: 50%;"> 
                   <h3>Extensão elétrica</h3>
                   <h5>(Extensão com 4 entradas de 5m)</h5>
                   
                      <p id="Pincel5">{{extensao}}€</p> 
                      <br>
                   <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="pincel" class="iBut">

               </div>
           </div>
           
           <div class="item">
                
                <br>
               <img src="https://cdn.discordapp.com/attachments/1075358829186908230/1112839840497676329/alicate-removebg-preview.png"  >
               <div style="left: 50%;"> 
                   <h3>Alicate</h3>
                   <h5>(Alicate para corte de fios)</h5>
                    <p id="Rolo7">{{alicate}}€</p><!--19,90-->
                    <br>
                   <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="rolo" class="iBut">

               </div>
           </div>
           <div class="item" >
               
               <br>
              <img src="https://cdn.discordapp.com/attachments/1075358829186908230/1112839840174710944/multimetro-removebg-preview.png"  >
              <div style="left: 50%;"> 
               <h3>Multímetro</h3>
                  <h5>(Multimetro digítal)</h5>
                 
                  <p id="Tinta25">{{multi}}€</p>
                  <br>
                  <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="tintaExtInt" class="iBut">

              </div>
          </div>
          <br>
          <br>
          <hr>
            <br>
            <br>
            <h2>Jardinagem</h2> <!--   -->
            <br>
            <div class="item">
                
                <br>
                <img src="https://media.discordapp.net/attachments/1075358829186908230/1112838977972617216/image-removebg-preview.png?width=517&height=660"  >
                <div style="left: 50%;"> 
                    <h3> Pá</h3>
                    <h5>(Pá de jardinagem, 90cm)</h5>
                    <p id="Pa"> {{pa}}€</p>
                    <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="tintaAcril" class="iBut">
                    
                </div>
            </div>
            <div class="item">
                
                <br>
                <img src="https://cdn.discordapp.com/attachments/1075358829186908230/1112839529108353086/image-removebg-preview.png"  >
                <div style="left: 50%;"> 
                 <h3> Tesoura de Poda</h3>   
                    <h5>(Tesoura para podar, aço)</h5>
                    
                    <p id="Poda">{{tesoura}}€</p>
                    <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="tinta" class="iBut">

                </div>
            </div>
            <div class="item" >
                
                <br>
                <img src="https://media.discordapp.net/attachments/1075358829186908230/1112840500978921552/image-removebg-preview.png?width=668&height=582"  >
                <div style="left: 50%;"> 
                    <h3> Ancinho</h3>
                    <h5>(Ancinho 16 dentes)</h5>
                    
                       <p id="Ancinho">{{ancinho}}€</p> 
                       <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="pincel" class="iBut">

                </div>
            </div>
            
            <div class="item">
                 
                 <br>
                <img src="https://cdn.discordapp.com/attachments/1075358829186908230/1112841179248201878/image-removebg-preview.png"  >
                <div style="left: 50%;"> 
                    <h3> Sancho</h3>
                    <h5>(Enxada de 3 dentes)</h5>
                    
                        <p id="Sancho">{{sancho}}€</p><!--19,90-->
                        <br>
                    <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="rolo" class="iBut">

                </div>
            </div>
            <div class="item" >
                
                <br>
               <img src="https://media.discordapp.net/attachments/1075358829186908230/1112842299718774785/image-removebg-preview.png?width=656&height=595"  >
               <div style="left: 50%;"> 
                <h3> Corta relvas</h3>
                   <h5>(Corta relvas portátil)</h5>
                  
                   <p id="CortaRelvas">{{corta}}€</p>
                   <br>
                   <input type="submit" value="Adicionar ao carrinho" style="display: inline;" name="tintaExtInt" class="iBut">

               </div>
           </div>
           <br>
           <br>

    </form>

    <script>
        const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      searchBtn = body.querySelector(".search-box"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");


toggle.addEventListener("click" , () =>{
    sidebar.classList.toggle("close");
})

searchBtn.addEventListener("click" , () =>{
    sidebar.classList.remove("close");
})

modeSwitch.addEventListener("click" , () =>{
    body.classList.toggle("dark");
    
    if(body.classList.contains("dark")){
        modeText.innerText = "Light mode";
    }else{
        modeText.innerText = "Dark mode";
        
    }
});
    </script>
   
    

    
</body>
</html>