<!DOCTYPE html>
<html>
<head>
    <title>GuideMeUp</title>
    <link href="../css/main.css" rel="stylesheet" />
    <script src="../css/js/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <style>
        form{
            width: 20% auto;
            margin: 0 auto;
            
            background-color: #f3f3f3;
            display:block ;
            display: inline-block;
            text-align: center;
            border-radius: 50px;
            padding: 30px;
            font-size: 25px;
        }
        input{
            width: 40px;
            height: 40px;
            
            display: inline-block;
            
        }
    </style>
</head>
<body>
    <div class="background-layer"></div>
    <div class="guideme" style="height: 90px auto;"><h1>GuideMeUp  </h1> </div>

    <div class="center" style="text-align: center;font-size: 30px;top: 50%;">
       <form id="checkboxForm" method="post">
            <h3 >Escolha as especificações do serviço<br></h3>
            <div> <b>Tipo de pintura: </b> </div><br>
            
            <input type="radio"  name="option1" value="1" required> Exterior
            <input type="radio" name="option1" value="2" required> Interior

            <div><br><b> Já tem materiais de pintura?</b> </div>
            <br>

            
            <input type="radio" name="option2" value="1"> Sim
            <input type="radio" name="option2" value="2"> Não
            <input type="submit" class="button" style="width: 45%;margin: 50px auto;border-radius: 50px;" value="Enviar">

        </form> 
    </div>
    

    
    

    
</body>
</html>