<!DOCTYPE html>
<html>
<head>
    <title>GuideMeUp</title>
    <link href="../css/main.css" rel="stylesheet" />
    <link href="../css/js/main.js" rel="stylesheet" />
</head>
<body>
    <div class="guideme" > 
        <h1 style="font-family: Lato, sans-serif;">GuideMeUp</h1>

    </div>

    </div>
    <div class="login-container">
        <div class="login-box">
            <h2 style="text-align: center;">Login</h2>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <button id="login-btn"><a href= "{{url_for('.serviços')}}" >Entrar</a></button>
            <p style="text-align: center;"><br><br>Não tem conta? <a href="{{url_for('.regist')}}" style="color:blue">Crie uma!</a></p>    
            
        </div>
    </div>
    <div class="center">
        <div class="bolaperf"></div>
        <div class="fperfil"></div>        
    </div>
    

    
</body>
</html>