<!DOCTYPE html>
<html>
<head>
    <title>GuideMeUp</title>
    <link href="../css/main.css" rel="stylesheet" />
    <link href="../js/main.js" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
    <div class="background-layer"></div>
    <div class="guideme" > 
        <h1 style="font-family: Lato, sans-serif;">GuideMeUp</h1>
    </div>

    </div>
    <div class="login-container">
        <div class="register-box" style="transition: cubic-bezier(0.47, 0, 0.745, 0.715);">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Confirma a Password">
            <input type="tel" placeholder="Telemóvel">
            <input type="date"placeholder="Data">
            <button id="login-btn"><a href="{{url_for('.login')}}"> Registar</a></button>
        </div>
        
        
    </div>
    <div class="center">
        <div class="bolaperf"></div>
        <div class="fperfil"></div>        
    </div>
    

    
</body>
</html>