<!DOCTYPE html>
<html>
<head>
    <title>GuideMeUp</title>
    <link href="../css/main.css" rel="stylesheet" />
    <script src="../css/js/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
    <div class="background-layer"></div>
    <div class="guideme" > 
        <h1 style="font-family: Lato, sans-serif;">GuideMeUp</h1>
    </div>

    </div>
    <div class="login-container">
        <div class="register-box" style="transition: cubic-bezier(0.47, 0, 0.745, 0.715);">
            <form method="post">
                <input type="email" placeholder="Email" name="email">
                <input type="password" placeholder="Password" name="password">
                <input type="password" placeholder="Confirma a Password" name="conf">
                <input type="tel" placeholder="Telemóvel" name="tel">
                <input type="date"placeholder="Data" name="date">
                <input type="submit" id="login-btn" value="regist" style="width: 200px; background-color: rgb(71, 129, 255); border-radius: 50px; margin-left: 12% ; " >
            </form>
        </div>
        
        
    </div>
    <div class="center">
        <div class="bolaperf"></div>
        <div class="fperfil"></div>        
    </div>
    

    
</body>
</html>