<!DOCTYPE html>
<html>
<head>
    <title>GuideMeUp</title>
    <link href="../css/main.css" rel="stylesheet" />
    <script src="../css/js/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
    <div class="background-layer"></div>
    <div class="guideme" > 
        <h1>Serviços</h1>

    </div>
    <div class="navbar">
        <a href="{{url_for('.login')}}">Inicio</a>
        <a>Pão</a>
        <a>Sobre</a>
        <a>Sim</a>
    </div>
    <div class="serviços-box-placeholder">  
            <div class="clearfix">
                <div class="column" style="border-radius: 50%;">
                    
                    <button class="serviços-button"><a href="{{url_for('.escolhas')}}">Pintura</a></button>
                    <button class="serviços-button">Limpeza</button>
                    <button class="serviços-button">Canalização</button>
                    <button class="serviços-button">Eletricidade</button>
                </div>
                <div class="column" style="border-radius: 50%;">
                    <button class="serviços-button">Carpintaria</button>
                    <button class="serviços-button">Serralharia</button>
                    <button class="serviços-button">Jardinagem</button>
                    <button class="serviços-button">Outros</button>
            </div>
        </div>
    </div>
   
    

    
</body>
</html>