<!DOCTYPE html>
<html>
<head>
    <title>GuideMeUp</title>
    <link href="../css/main.css" rel="stylesheet" />
    <link href="../css/js/main.js" rel="stylesheet" />
</head>
<body>
    <div class="guideme" > 
        <h1>Serviços</h1>

    </div>
    <div class="navbar">
        <a href="{{url_for('.index')}}">Inicio</a>
        <a>Pão</a>
        <a>Sobre</a>
        <a>Sim</a>
    </div>
    <div class="serviços-box-placeholder">  
            <div class="clearfix">
                <div class="column" style="border-radius: 50%;">
                    
                    <button class="serviços-button">Pintura</button>
                    <button class="serviços-button">Limpeza</button>
                    <button class="serviços-button">Canalização</button>
                    <button class="serviços-button">Eletricidade</button>
                </div>
                <div class="column" style="border-radius: 50%;">
                    <button class="serviços-button">Carpintaria</button>
                    <button class="serviços-button">Serralharia</button>
                    <button class="serviços-button">Jardinagem</button>
                    <button class="serviços-button">Outros</button>
            </div>
        </div>
    </div>
   
    

    
</body>
</html>