<!DOCTYPE html>
<html>
<head>
    <title>GuideMeUp</title>
    <link href="../css/main.css" rel="stylesheet" />
    <script src="../css/js/main.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/56b0a879ad.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <style>
        @import 'https://fonts.googleapis.com/css?family=Lato:400,600,700&subset=latin-ext';
        body {
  background: #ececec;
  font-family: 'Lato';
  padding: 10px 0;
  margin: 0;
  font-size: 14px;
  overflow-x: hidden;
  min-width: 345px;
}
* {
  box-sizing: border-box;
}


h1 {
  text-align: center;
}
form {
  width: 60%;
  padding-left: 15%;
  display: block;
  background: rgba(255, 255, 255, 0.8);
  padding: 25px;
  margin: 40px auto;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  color: #000000;
}
fieldset {
  height: 3500px;
  border: none;
  margin: 10px auto;
  
}

.btn{
    background-color: #0073a1;
    color: white;
    border-radius: 25px;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
}  

.btn:hover {
    opacity: 1;
}   

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

::selection{
    color: #fff;
}



    
    </style>
</head>
<body>
    <div class="background-layer" style="background-image: url('../css/images/comopintarparedes.jpeg');"></div>
    <nav class="sidebar close">
      <header>
          <div class="image-text">
              <span class="image">
                  <span class="text2">GMU</span>
              </span>

              <div class="text logo-text">
                  
                  <span class="name" style="font-size: 28px; margin-left: -23%;margin-top: 8%;">GuideMeUp</span>
                  <span class="profession" style = "margin-left: -23%;">Serviços domésticos</span>
              </div>
          </div>

          <i class='bx bx-chevron-right toggle'></i>
      </header>

      <div class="menu-bar">
          <div class="menu">

              <li class="search-box" style="height: 0px;"></li> <!--nao apagar-->

              <ul class="menu-links">
                  <li class="nav-link">
                      <a href="{{url_for('.index')}}">
                          <i class='bx bx-home-alt icon' ></i>
                          <span class="text nav-text">Inicio</span>
                      </a>
                  </li>

                  <li class="nav-link">
                      <a href="{{url_for('.serviços')}}">
                          <i class='bx bx-list-ul icon' ></i>
                          <span class="text nav-text">Serviços</span>
                      </a>
                  </li>


                  <li class="nav-link">
                      <a href="{{url_for('.catalogo')}}">
                          <i class='bx bx-grid-alt icon' ></i>
                          <span class="text nav-text">Catálogo</span>
                      </a>
                  </li>

                  <li class="nav-link">
                      <a href="{{url_for('.pagamento')}}">
                          <i class='bx bx-cart icon' ></i>
                          <span class="text nav-text">Carrinho</span>
                      </a>
                  </li>
                  <li class="nav-link">
                      <a href="{{url_for('.account')}}">
                          <i class='bx bx-user icon'></i>
                          <span class="text nav-text">Conta</span>
                      </a>
                  </li>
                  <li class="nav-link">
                      <a href="{{url_for('.')}}">
                          <i class='bx bx-info-circle icon' ></i>
                          <span class="text nav-text">Sobre</span>
                      </a>
                  </li>

              </ul>
          </div>

          <div class="bottom-content">
              <li class="">
                  <a href="#">
                      <i class='bx bx-log-out icon' ></i>
                      <span class="text nav-text">Logout</span>
                  </a>
              </li>

              <li class="mode">
                  <div class="sun-moon">
                      <i class='bx bx-moon icon moon'></i>
                      <i class='bx bx-sun icon sun'></i>
                  </div>
                  <span class="mode-text text">Dark mode</span>

                  <div class="toggle-switch">
                      <span class="switch"></span>
                  </div>
              </li>
              
          </div>
      </div>

  </nav>
  <form>

    
    <form>
      <fieldset>
        <h1 style="font-size: 50px;color: #000000; margin-top: -2%; padding-bottom: 10%;">Tutoriais de pintura</h1><br>

        <h1 style="font-size: 40px;color: #000000;padding-right: 90%; margin-top: -4%;">Interior:</h1><br>
        <iframe style="margin-left: 12%;" width="800" height="415" src="https://www.youtube.com/embed/iaV7iwItVSk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h1 style="font-size: 20px;color: #000000; margin-top: -15%; margin-left: 30%; width: 400px;">Aprenda a pintar o interior de sua casa com a ajuda da nossa especialista, Karla Amadori!</h1><br>
        <iframe style= "margin-left: 12%;margin-top: 10%;"width="800" height="415" src="https://www.youtube.com/embed/vOtVMHHhf4s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            
        <h1 style="font-size: 20px;color: #000000; margin-top: 5%; margin-left: 30%; width: 400px;">Aprenda a pintar o interior da sua casa com a ajuda da nossa especialista, Ana Maria!</h1><br>

        <h1 style="font-size: 40px;color: #000000;padding-right: 90%; margin-top: 15%;">Exterior:</h1><br>
        <iframe style= "margin-left: 12%;margin-top: 10%;" width="800" height="415" src="https://www.youtube.com/embed/hipr6m9dkRA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h1 style="font-size: 20px;color: #000000; margin-top: 5%; margin-left: 30%; width: 400px;">Aprenda a pintar o exterior de sua casa com a ajuda do nosso especialista, Roberto!</h1><br>
        <iframe style= "margin-left: 12%;margin-top: 10%;" width="800" height="415" src="https://www.youtube.com/embed/ncMn5T753to" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h1 style="font-size: 20px;color: #000000; margin-top: 5%; margin-left: 30%; width: 450px;">A sua parede exterior está a descascar? Aprenda como repintá-la com o Ricardo e a Sandra!</h1><br>
        <h1 style="font-size: 20px;color: #000000; margin-top: 30%; margin-left: 30%; width: 450px;">Ainda precisa de ajuda? Pode sempre chamar um dos nossos especialistas.</h1><br>
        <div style="display: flex; justify-content: center; margin-top: 20px;">
            <input class="btn" type="button" value="Chamar especialista" style="font-size: 20px; padding: 10px 20px;margin-top: -1%;">
        </div>
    </fieldset>
    </form>

    <script>
      const body = document.querySelector('body'),
    sidebar = body.querySelector('nav'),
    toggle = body.querySelector(".toggle"),
    searchBtn = body.querySelector(".search-box"),
    modeSwitch = body.querySelector(".toggle-switch"),
    modeText = body.querySelector(".mode-text");


toggle.addEventListener("click" , () =>{
  sidebar.classList.toggle("close");
})

searchBtn.addEventListener("click" , () =>{
  sidebar.classList.remove("close");
})

modeSwitch.addEventListener("click" , () =>{
  body.classList.toggle("dark");
  
  if(body.classList.contains("dark")){
      modeText.innerText = "Light mode";
  }else{
      modeText.innerText = "Dark mode";
      
  }
});
  </script>

            
    

    
</body>
</html>